


<div>
{% if user.is_authenticated %}
    <h2>Welcome, {{user.username}}</h2><a href="{% url 'logout' %}"><button> Logout </button></a>
{% else %}
    <p> Have an account ? Log in here
    <a href="{% url 'login' %}"><button> Login </button></a></p>
    <p>New user ? Create an account Here
    <a href="{% url 'signup' %}"><button> Signup </button></a> </p>
{% endif %}
</div>
<br>
<form method ="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Add Task</button>
</form>


{% for item in todo_list  %}
<li> {{ item.content }}
    <a href="{% url 'edit' item.id %}"><button> Edit </button></a>
    <a href="{% url 'delete' item.id %}"><button> Delete </button></a>
</li><br>
{% endfor %}